
.venv/
venv/
env/
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
.pytest_cache/
.mypy_cache/
.ruff_cache/

coverage_html/
coverage.xml
.coverage
.coverage.*
htmlcov/

db/
*.db
*.sqlite
*.sqlite3

.git/
.gitignore
.github/

.env
.env.*
!.env.example

.vscode/
.idea/
*.swp
.DS_Store

README.md

tests/
pytest.ini
.coveragerc